server:
  port: '8080'

spring:
  profiles:
    active: dev
  application:
    name:
      topfive-web
  datasource:
    url: jdbc:postgresql://topfive-db:5432/postgres
    username: postgres
    password: password
    hikari:
      connectionTimeout: '20000'
      maximumPoolSize: '5'
  flyway:
    schemas:
      - public
      - topfive
    out-of-order: true
  jpa:
    show-sql: true
  servlet:
    multipart:
      max-file-size: 200MB
      max-request-size: 200MB

topfive:
  test:
    username: nikitos
  file:
    store:
      dir: topfive-data

logging:
  level:
    root: info
    com:
      shutovna: debug
    org:
      springframework:
        security: debug
        web:
          filter:
            CommonsRequestLoggingFilter: DEBUG


