<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[[${top.title}]]</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/styles.css}"></link>

</head>
<body class="container">
<a data-th-href="@{/tops/table}">&larr; К списку топов</a>
<h1 data-th-text="${top.title}"></h1>
<ul>
    <li><strong>ID</strong>: <span data-th-text="${top.id}"></span></li>
    <li><strong>Название</strong>: <span data-th-text="${top.title}"></span></li>
    <li><strong>Описание</strong>: <span data-th-text="${top.details}"></span></li>
    <li><strong>Тип</strong>: <span data-th-text="${top.type.name}"></span></li>
</ul>

<table class="zui-table">
    <thead>
    <tr>
        <th>#</th>
        <th>Исполнитель</th>
        <th>Композиция</th>
        <th>Описание</th>
        <th>Битрейт</th>
        <th>Дата выхода</th>
        <th>Жанр</th>
        <th>Ссылка</th>
    </tr>
    </thead>
    <tbody>
    <tr data-th-each="row : ${items}">
        <td>
            <a data-th-href="@{/songs/{songId}(songId=${row.item.id})}"
               data-th-text="${row.item.id}"></a>
        </td>
        <td data-th-text="${row.item.artist}"></td>
        <td data-th-text="${row.item.title}"></td>
        <td data-th-text="${row.item.description}"></td>
        <td data-th-text="${row.item.bitRate}"></td>
        <td data-th-text="${#temporals.format(row.item.releasedAt, 'dd/MM/yyyy')}"></td>
        <td data-th-text="${row.item.genre?.name}"></td>
        <td>
            <audio controls th:src="${row.url}"></audio>
        </td>
    </tr>
    </tbody>
</table>

<div th:switch="${top.type}">
    <p th:case="${T(com.shutovna.topfive.entities.TopType).SONG}">
        <a data-th-href="@{/songs/create(topId=${top.id})}">+ Добавить песню</a></p>
    <p th:case="${T(com.shutovna.topfive.entities.TopType).VIDEO}">
        <a data-th-href="@{/videos/create?type=VIDEO}">+ Добавить видео</a></p>
    <p th:case="${T(com.shutovna.topfive.entities.TopType).PHOTO}">
        <a data-th-href="@{/photos/create?type=PHOTO}">+ Добавить фото</a></p>
</div>

<form method="get" data-th-action="@{/tops/{topId}/edit(topId=${top.id})}">
    <button type="submit">Изменить</button>
</form>
<form method="post" data-th-action="@{/tops/{topId}/delete(topId=${top.id})}">
    <button type="submit">Удалить</button>
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>