<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/styles.css}"></link>
    <title>Список топов</title>
</head>
<body class="container">

<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a data-th-href="@{/tops/table}"
           class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <img src="/number-5.png" alt="Топ Пять" style="width: 64px; height: 64px">
            <span class="fs-4 ms-1">Топ Пять</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a data-th-href="@{/tops/table}" class="nav-link active" aria-current="page">Топы</a>
            </li>
            <li class="nav-item"><a data-th-href="@{/songs/table}" class="nav-link">Песни</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Видео</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Фото</a></li>
            <li class="nav-item"><a href="#" class="nav-link">О сайте</a></li>
        </ul>
    </header>
</div>

<h1>Список топов</h1>
<a data-th-href="@{/tops/create}">+ Создать топ</a>

<form method="get" data-th-action="@{/tops/table}">
    <label>Фильтр:<input type="text" name="filter" data-th-value="${filter}"/>
        <button type="submit">Поиск</button>
    </label>
</form>

<table class="zui-table">
    <thead>
    <tr>
        <th>#</th>
        <th>Название</th>
        <th>Описание</th>
        <th>Тип</th>
        <th>Создатель</th>
    </tr>
    </thead>
    <tbody>
    <tr data-th-each="top : ${tops}">
        <td data-th-text="${top.id}"></td>
        <td>
            <a data-th-href="@{/tops/{topId}(topId=${top.id})}"
               data-th-text="${top.title}"></a>
        </td>
        <td data-th-text="${top.details}"></td>
        <td data-th-text="${top.type.name}"></td>
        <td data-th-text="${top.user.username}"></td>
    </tr>
    </tbody>
</table>

<br/>
<hr/>
<h3 th:inline="text">Пользователь:
    <span th:remove="tag" sec:authentication="name">USERNAME</span>
</h3>

<div sec:authorize="isAuthenticated()">
    <form data-th-action="@{/logout}" method="post">
        <input type="submit" value="Выйти"/>
    </form>
</div>
<div sec:authorize="isAnonymous()">
    Нажмите <a data-th-href="@{/login}">здесь</a> для входа
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>