<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Редактирование песни</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/styles.css}"></link>
    <title>Список топов</title>
</head>
<body class="container">
<h1>Редактирование песни</h1>

<div data-th-if="${errors}">
    <h2>Допущены ошибки</h2>
    <ul>
        <li data-th-each="error: ${errors}" data-th-text="${error}"></li>
    </ul>
</div>

<form method="post" data-th-action="@{/songs/{songId}(songId=${song.id})}">
    <input type="hidden" data-th-name="previousPage" data-th-value="${previousPage}">
    <label>
        Исполнитель:<br>
        <input type="text" name="artist" data-th-value="${payload != null ? payload.artist : song.artist}">
    </label><br>
    <label>
        Название:<br>
        <input type="text" name="title" data-th-value="${payload != null ? payload.title : song.title}">
    </label><br>
    <label>
        Описание:<br>
        <textarea name="description" data-th-text="${payload != null ? payload.description : song.description}"></textarea>
    </label><br>
    <label>
        Битрейт:<br>
        <input type="text" name="bitRate" data-th-value="${payload != null ? payload.bitRate : song.bitRate}">
    </label><br>
    <label>
        Дата выпуска:<br>
        <input type="date" name="releasedAt" data-th-value="${payload != null ? payload.releasedAt : song.releasedAt}">
    </label><br>
    <label>
        Жанр:<br>
        <select id="genreId" name="genreId">
            <option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.name}"
                    th:selected="${genre.id==(payload != null ? payload.genreId : song.genre.id)}"></option>
        </select>
    </label><br>

    <button type="submit">Изменить</button>
</form>

<form method="post" data-th-action="@{/songs/{songId}/delete(songId=${song.id})}">
    <input type="hidden" data-th-name="previousPage" data-th-value="${previousPage}">
    <button type="submit">Удалить</button>
</form>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</body>
</html>